<div id="container">
  <div class="page_title"></div>
  {{#each horse in filteredContent}}
    <ol class="card">
      <li class="card_info">
        {{#link-to 'horse' this.horse}}
          {{#if horse.avatar_thumb_url}}
            <img {{bind-attr src="horse.avatar_thumb_url"}} />
          {{else}}
            <img src="assets/images/horseFPO.jpg" />
          {{/if}}
          <h3>{{horse.nick_name}}</h3>
          <p>{{horse.name}}</p>
          <p class="card_breed">Breed</p>
          <p>{{horse.breed}}</p>
        {{/link-to}}
      </li>
    </ol>
  {{/each}}
</div>