<div class="container">
  <form id="horse_info" enctype="multipart/form-data" {{action 'createHorse' on='submit'}}>
    <ul class="standard_list">
      <li>
        <label>Horse Avatar</label>
        {{view 'upload-file' name="avatar" file=avatar }}
      </li>
      <li>
        <label>Nick Name</label>
        {{input id='nick_name' placeholder='Nick Name' value=nick_name class="login_field"}}</li>
      <li>
        <label>Name</label>
        {{input id='name' placeholder='Name' value=name class="login_field"}}</li>
      <li>
        <label>Breed</label>
        {{input id='breed' placeholder='Breed' value=breed class="login_field"}}</li>
      <li>
        <label>Reg. Number</label>
        {{input id='registration_number' placeholder='Registration Number' value=registration_number class="login_field"}}</li>
      <li>
        <label>Sex</label>
        {{input id='sex' placeholder='Sex' value=sex class="login_field"}}</li>
      <li>
        <label>Foaling Date</label>
        {{input id='foaling-date' type="date" placeholder='Foaling Date' value=foaling_date class="login_field"}}
      </li>
      <li>
        <label>Color</label>
        {{input id='color' placeholder='Color' value=color class="login_field"}}</li>
      <li>
        <label>Date of Birth</label>
        {{input id='birth-date' type="date" placeholder='Date of Birth' value=date_of_birth class="login_field"}}
      </li>
      <li>
        <label>Markings</label>
        {{input id='markings' placeholder='Markings' value=markings class="login_field"}}</li>
      <li>
        <label>Org Numbers</label>
        {{input id='org_numbers' placeholder='Org Numbers' value=org_numbers class="login_field"}}</li>
      <li>
        <label>Emergencies</label>
        {{input id='emergencies' placeholder='Emergencies' value=emergencies class="login_field"}}</li>
      <li>
        <label>Comments</label>
        {{input id='comments' placeholder='Comments' value=comments class="login_field"}}</li>
    </ul>
    <div class="align-center">
      <input class="red" type="submit" value="Save" />
      <button class="outline" {{action 'cancel'}}>Cancel</button>
    </div>
  </form>
</div>
