<div class="container">
  <div class="page_title">Health Information</div>
  <form id="horse_info" {{action 'editHealth' on='submit'}}>
    <ul class="standard_list">
      <li>
        <span>Last Dentist</span>
        {{input type='date' id='last_dentist' placeholder='Last Dentist' value=model.health_info.last_dentist class="login_field"}}
      </li>

      <li>
        <span>Dentist Name</span>
        {{input id='dentist_name' placeholder='Dentist Name' value=model.health_info.dentist_name class="login_field"}}
      </li>

      <li>
        <span>Dentist Phone</span>
        {{input type='tel' id='dentist_phone' placeholder='Dentist Phone' value=model.health_info.dentist_phone class="login_field"}}
      </li>

      <li>
        <span>Dentist Interval</span>
        {{input id='dentist_interval' placeholder='Dentist Interval' value=model.health_info.dentist_interval class="login_field"}}
      </li>

      <li>
        <span>Last Coggins</span>
        {{input type='date' id='last_coggins' placeholder='Last Coggins' value=model.health_info.last_coggins class="login_field"}}
      </li>

      <li>
        <span>Last Deworming</span>
        {{input type='date' id='last_deworming' placeholder='Last Deworming' value=model.health_info.last_deworming class="login_field"}}
      </li>

      <li>
        <span>Last Tetanus</span>
        {{input type='date' id='last_tetanus' placeholder='Last Tetanus' value=model.health_info.last_tetanus class="login_field"}}
      </li>

      <li>
        <span>Last Rabies</span>
        {{input type='date' id='last_rabies' placeholder='Last Rabies' value=model.health_info.last_rabies class="login_field"}}
      </li>

      <li>
        <span>Last VEW</span>
        {{input type='date' id='last_vew' placeholder='Last VEW' value=model.health_info.last_vew class="login_field"}}
      </li>

      <li>
        <span>Last Botulism</span>
        {{input type='date' id='last_botulism' placeholder='Last Botulism' value=model.health_info.last_botulism class="login_field"}}
      </li>

      <li>
        <span>Last Potomac</span>
        {{input type='date' id='last_potomac' placeholder='Last Potomac' value=model.health_info.last_potomac class="login_field"}}
      </li>

      <li>
        <span>Last Strangles</span>
        {{input type='date' id='last_strangles' placeholder='Last Strangles' value=model.health_info.last_strangles class="login_field"}}
      </li>

      <li>
        <span>Last Anthrax</span>
        {{input type='date' id='last_anthrax' placeholder='Last Anthrax' value=model.health_info.last_anthrax class="login_field"}}
      </li>

      <li>
        <span>Last Rhino. Flu</span>
        {{input type='date' id='last_rhino_flu' placeholder='Last Rhino. Flu' value=model.health_info.last_rhino_flu class="login_field"}}
      </li>

      <li>
        <span>Rhino Interval</span>
        {{input id='rhino_interval' placeholder='Rhino Interval' value=model.health_info.rhino_interval class="login_field"}}
      </li>

      <li>
        <span>Last West Nile</span>
        {{input type='date' id='last_west_nile' placeholder='Farrier Name' value=model.health_info.last_west_nile class="login_field"}}
      </li>

      <li>
        <span>West Nile Interval</span>
        {{input id='west_nile_interval' placeholder='Last West Nile' value=model.health_info.west_nile_interval class="login_field"}}
      </li>

      <li>
        <span>Other Vacc.</span>
        {{input id='other_vacc' placeholder='Other Vacc.' value=model.health_info.other_vacc class="login_field"}}
      </li>

      <li>
        <span>Health Comments</span>
        {{input id='health_comments' placeholder='Farrier Name' value=model.health_info.health_comments class="login_field"}}
      </li>
    </ul>
    <input class="red" type="submit" value="Save">
    <button class="outline" {{action 'cancel'}}>Cancel</button>
  </form>
</div>
