<div class="container">
  <div class="page_title">Health Information</div>

  <ul class="standard_list">
    <li>
      <span>Last Dentist</span>
      {{last_dentist}}
    </li>

    <li>
      <span>Dentist Name</span>
      {{dentist_name}}
    </li>

    <li>
      <span>Dentist Phone</span>
      {{dentist_phone}}
    </li>

    <li>
      <span>Dentist Interval</span>
      {{dentist_interval}}
    </li>

    <li>
      <span>Last Coggins</span>
      {{last_coggins}}
    </li>

    <li>
      <span>Last Deworming</span>
      {{last_deworming}}
    </li>

    <li>
      <span>Last Tetanus</span>
      {{last_tetanus}}
    </li>

    <li>
      <span>Last Rabies</span>
      {{last_rabies}}
    </li>

    <li>
      <span>Last VEW</span>
      {{last_vew}}
    </li>

    <li>
      <span>Last Botulism</span>
      {{last_botulism}}
    </li>

    <li>
      <span>Last Potomac</span>
      {{last_potomac}}
    </li>

    <li>
      <span>Last Strangles</span>
      {{last_strangles}}
    </li>

    <li>
      <span>Last Anthrax</span>
      {{last_anthrax}}
    </li>

    <li>
      <span>Last Rhino. Flu</span>
      {{last_rhino_flu}}
    </li>

    <li>
      <span>Rhino Interval</span>
      {{rhino_interval}}
    </li>

    <li>
      <span>Last West Nile</span>
      {{last_west_nile}}
    </li>

    <li>
      <span>West Nile Interval</span>
      {{west_nile_interval}}
    </li>

    <li>
      <span>Other Vacc.</span>
      {{other_vacc}}
    </li>

    <li>
      <span>Health Comments</span>
      {{health_comments}}
    </li>

  </ul>
</div>