<div class="container">
  <div class="page_title">Stable Information</div>
  <ul class="standard_list">
    <li>
      <span>Last Farrier</span>
      {{farrierDate}}
    </li>
    <li>
      <span>Farrier Name</span>
      {{model.stable_info.farrier_name}}
    </li>
    <li>
      <span>Farrier Phone</span>
      {{model.stable_info.farrier_phone}}
    </li>
    <li>
      <span>Farrier Interval</span>
      {{model.stable_info.farrier_interval}}
    </li>
    <li>
      <span>Hay</span>
      {{model.stable_info.hay}}
    </li>
    <li>
      <span>Feed</span>
      {{model.stable_info.feed}}
    </li>
    <li>
      <span>Supplements</span>
      {{model.stable_info.supplements}}
    </li>
  </ul>
</div>