<div class="container">
  <div class="login_hdr note">
    <ol class="card">
      <li class="card_info">
        <h3>{{model.title}}</h3>
        <p>{{formattedDate}}</p>
        <p>{{formattedTime}}</p>
        <p>----</p>
        <p>{{model.content}}</p>
      </li>
    </ol>
    <button {{action removeNote}} class="red">Remove Note</button>
  </div>
</div>