<div class="container">
  <form id="documents" enctype="multipart/form-data" {{action 'createDocument' on='submit'}}>
    <ul class="standard_list">
      <li>
        <label>Document Name</label>
        {{input id='name' placeholder='Name' value=name class="login_field"}}
      </li>
      <li>
        <label>File</label>
        {{view 'upload-file' name="file" file=file }}
      </li>
      <li>
        <label>Add to horse(s)</label>
        {{!-- {{input id="search" type="text" multiple="multiple" value=horses placeholder="Horses"}} --}}
        {{view Ember.Select contentBinding="controllers.horses.content" optionLabelPath="content.name" optionValuePath="content.id" value=horses prompt="Link to Horse" class="horse-link"}}
      </li>
      {{!-- <li>
        <label>Link to Horse</label>

        <div class="styled-select">
          {{view Ember.Select contentBinding="content" optionLabelPath="content.name" optionValuePath="content.id" prompt="Link to Horse"}}
          <div class="chevron"></div>
        </div>
      </li> --}}
    </ul>
    {{input type="hidden" value=filename name="filename"}}
    <input class="red" type="submit" value="Save" />
    <button class="outline" {{action 'cancel'}}>Cancel</button>
  </form>
</div>