<div class="container">
<ul class="standard_list_left">
  <li>Title</li>
  <li>Date</li>
  <li>Start Time</li>
  <li>End Time</li>
  <li>Content</li>
</ul>

<form {{action 'createNote' on='submit'}}>
  <ul class="standard_list_right">
    <li>{{input id='title' placeholder='Title' value=title class="login_field"}}</li>
    <li>
      {{date-picker-input controls="my-datepicker" placeholder="Date" dateFormat="dddd, MMMM D, YYYY" value=date class="login_field"}}
      {{date-picker-controls id="my-datepicker"}}
    </li>
    <li>{{input id='start-time' placeholder='Start Time' value=start_time class="login_field"}}</li>
    <li>{{input id='end-time' placeholder='End Time' value=end_time class="login_field"}}</li>
    <li>{{textarea id='content' placeholder='Content' rows='1' value=content class="login_field"}}</li>
  </ul>
  <input class="red" type="submit" value="Save">
  <button class="outline" {{action 'cancel'}}>Cancel</button>
</form>
</div>