<div class="container">
  <form id="horse_info" {{action 'createNote' on='submit'}}>
    <ul class="standard_list">
      <li>
        <label>Title</label>
        {{input id='title' placeholder='Title' value=model.title class="login_field"}}</li>
      <li>
        <label>Date</label>
        {{input id='date' placeholder='Date' value=date class="login_field" type="date"}}
      </li>
      <li>
        <label>Start Time</label>
        {{input id='start-time' type='time' value=start_time class="login_field"}}</li>
      <li>
        <label>End Time</label>
        {{input id='end-time' type='time' value=end_time class="login_field"}}</li>
      <li>
        <label>Content</label>
        {{input id='content' placeholder='Content' value=content class="login_field"}}</li>
    </ul>
    <input class="red" type="submit" value="Save">
    <button class="outline" {{action 'cancel'}}>Cancel</button>
  </form>
</div>