<div class="container">
<ul class="standard_list_left">
  <li>Horse Avatar</li>
  <li>Nick Name</li>
  <li>Name</li>
  <li>Breed</li>
  <li>Reg. Number</li>
  <li>Sex</li>
  <li>Fertility</li>
  <li>Foaling Date</li>
  <li>Color</li>
  <li>Date of Birth</li>
  <li>Markings</li>
  <li>Org Numbers</li>
  <li>Emergencies</li>
  <li>Comments</li>
</ul>

<form {{action 'updateHorse' on='submit'}}>
  <ul class="standard_list_right">
    <li>{{view 'upload-file' name="avatar" file=model.avatar }}</li>
    <li>{{input id='nick_name' placeholder='Nick Name' value=model.nick_name class="login_field"}}</li>
    <li>{{input id='name' placeholder='Name' value=model.name class="login_field"}}</li>
    <li>{{input id='breed' placeholder='Breed' value=model.breed class="login_field"}}</li>
    <li>{{input id='registration_number' placeholder='Registration Number' value=model.registration_number class="login_field"}}</li>
    <li>{{input id='sex' placeholder='Sex' value=model.sex class="login_field"}}</li>
    <li>{{input id='fertility' placeholder='Fertility' value=model.fertility class="login_field"}}</li>
    {{!-- <li>{{input id='foalingDate' placeholder='Foaling Date' value=foaling_date class="login_field"}}</li> --}}
    <li>
      {{date-picker-input controls="my-datepicker" value=foaling_date class="login_field"}}
      {{date-picker-controls id="my-datepicker"}}
    </li>
    <li>{{input id='color' placeholder='Color' value=model.color class="login_field"}}</li>
    {{!-- <li>{{input id='birthDate' placeholder='Birth Date' value=date_of_birth class="login_field"}}</li> --}}
    <li>
      {{date-picker-input controls="birth-date" value=date_of_birth class="login_field"}}
      {{date-picker-controls id="birth-date"}}
    </li>
    <li>{{input id='markings' placeholder='Markings' value=model.markings class="login_field"}}</li>
    <li>{{input id='org_numbers' placeholder='Org Numbers' value=model.org_numbers class="login_field"}}</li>
    <li>{{input id='emergencies' placeholder='Emergencies' value=model.emergencies class="login_field"}}</li>
    <li>{{input id='comments' placeholder='Comments' value=model.comments class="login_field"}}</li>
  </ul>
  <input class="red" type="submit" value="Save">
  <button class="outline" {{action 'cancel'}}>Cancel</button>
  <button class="outline" {{action 'delete'}}>Remove Horse</button>
</form>
</div>