<div class="container">

  <form id="horse_info" {{action 'updateHorse' on='submit'}}>
    <ul class="standard_list">
      <li>
        <label>Horse Avatar</label>
        {{view 'upload-file' name="avatar" file=model.avatar }}
      </li>
      <li>
        <label>Nick Name</label>
        {{input id='nick_name' placeholder='Nick Name' value=model.nick_name class="login_field"}}</li>
      <li>
        <label>Name</label>
        {{input id='name' placeholder='Name' value=model.name class="login_field"}}</li>
      <li>
        <label>Breed</label>
        {{input id='breed' placeholder='Breed' value=model.breed class="login_field"}}</li>
      <li>
        <label>Reg. Number</label>
        {{input id='registration_number' placeholder='Registration Number' value=model.registration_number class="login_field"}}</li>
      <li>
        <label>Sex</label>
        {{input id='sex' placeholder='Sex' value=model.sex class="login_field"}}</li>
      <li>
        <label>Fertility</label>
        {{input id='fertility' placeholder='Fertility' value=model.fertility class="login_field"}}</li>
      {{!-- <li>{{input id='foalingDate' placeholder='Foaling Date' value=foaling_date class="login_field"}}</li> --}}
      <li>
        <label>Foaling Date</label>
        {{date-picker-input controls="my-datepicker" value=foaling_date class="login_field"}}
        {{date-picker-controls id="my-datepicker"}}
      </li>
      <li>
        <label>Color</label>
        {{input id='color' placeholder='Color' value=model.color class="login_field"}}</li>
      {{!-- <li>{{input id='birthDate' placeholder='Birth Date' value=date_of_birth class="login_field"}}</li> --}}
      <li>
        <label>Date of Birth</label>
        {{date-picker-input controls="birth-date" value=date_of_birth class="login_field"}}
        {{date-picker-controls id="birth-date"}}
      </li>
      <li>
        <label>Markings</label>
        {{input id='markings' placeholder='Markings' value=model.markings class="login_field"}}</li>
      <li>
        <label>Org Numbers</label>
        {{input id='org_numbers' placeholder='Org Numbers' value=model.org_numbers class="login_field"}}</li>
      <li>
        <label>Emergencies</label>
        {{input id='emergencies' placeholder='Emergencies' value=model.emergencies class="login_field"}}</li>
      <li>
        <label>Comments</label>
        {{input id='comments' placeholder='Comments' value=model.comments class="login_field"}}</li>
    </ul>
    <input class="red" type="submit" value="Save">
    <button class="outline" {{action 'cancel'}}>Cancel</button>
    <button class="outline" {{action 'delete'}}>Remove Horse</button>
  </form>
</div>