<div class="horse_profilephoto"><img {{bind-attr src="model.avatar_profile_url"}} /></div>
<div class="container">
  <ul class="standard_list">
    <li>
      <span>Name</span>
      {{model.name}}
    </li>

    <li>
      <span>Breed</span>
      {{model.breed}}
    </li>

    <li>
      <span>Reg. Number</span>
      {{model.registration_number}}
    </li>

    <li>
      <span>Sex</span>
      {{model.sex}}
    </li>

    <li>
      <span>Fertility</span>
      {{model.fertility}}
    </li>

    <li>
      <span>Foaling Date</span>
      {{foalingDate}}
    </li>

    <li>
      <span>Color</span>
      {{model.color}}
    </li>

    <li>
      <span>Date of Birth</span>
      {{birthDate}}
    </li>

    <li>
      <span>Markings</span>
      {{model.markings}}
    </li>

    <li>
      <span>Org Numbers</span>
      {{model.org_numbers}}
    </li>

    <li>
      <span>Emergencies</span>
      {{model.emergencies}}
    </li>

    <li>
      <span>Comments</span>
      {{model.comments}}
    </li>

    <li>
      <span>Share Links</span>
      youtu.be
    </li>

  </ul>

  <ul class="list_buttons">
    {{#link-to 'horse.weight-history' model}}<li>Weight History</li>{{/link-to}}
    {{#link-to 'stable-information.index' model}}<li>Stable Information</li>{{/link-to}}
    {{#link-to 'health-information.index' model}}<li>Health Information</li>{{/link-to}}
    {{#link-to 'horse.feeding-records' model}}<li>Feeding Records</li>{{/link-to}}
    {{#link-to 'horse.documents' model}}<li>Documents</li>{{/link-to}}
    {{#link-to 'horse.photos' model}}<li>Photos</li>{{/link-to}}
  </ul>
</div>