{{#if notification}}
  <div {{bindAttr class=":alert :fade :in notification.type"}} id="notification">
    <span class="close" data-dismiss="alert" {{action "closeNotification"}}>&times;</span>
    {{#if notification.title}}
      <strong>{{notification.title}}</strong>
    {{/if}}
    {{notification.message}}
  </div>
{{/if}}

{{#if session.isAuthenticated }}
  <nav class="pushy pushy-left">

    <div class="nav_user">
      <p>{{session.user_name}}</p>
      <p class="user_account">{{#link-to 'account-settings'}}<img src="assets/images/gear.png" />{{/link-to}}</p>
    </div>

    <ul>
        <li>{{#link-to 'horses'}}My Horses{{/link-to}}</li>
        <li>{{#link-to 'veterinarians'}}Veterinarians{{/link-to}}</li>
        <li>{{#link-to 'horse.documents' session.horse}}Documents{{/link-to}}</li>
        <li>{{#link-to 'notes'}}Notes{{/link-to}}</li>
        <li>{{#link-to "horse.weight-calculator" session.horse}}Weight Calculator{{/link-to}}</li>
        <li>{{#link-to "horse.links" session.horse}}Links{{/link-to}}</li>
    </ul>

    <ul>
      <li><a {{action 'invalidateSession'}}>Logout</a></li>
    </ul>
  </nav>

  <div class="site-overlay"></div>

  <div id="push_wrap">
    {{outlet header}}
{{/if}}
{{outlet}}
{{#if session.isAuthenticateded }}
  </div>
{{/if}}