{{#if session.isAuthenticated }}
  <!-- Pushy Menu -->
  <nav class="pushy pushy-left">

    <div class="nav_user">
      <p>{{session.user_name}}</p>
      <p class="user_account">{{#link-to 'account-settings'}}<img src="assets/images/gear.png" />{{/link-to}}</p>
    </div>

    <ul>
        <li>{{#link-to 'horses'}}My Horses{{/link-to}}</li>
        <li>{{#link-to 'horse.veterinarians' session.horse}}Veterinarians{{/link-to}}</li>
        <li>{{#link-to 'horse.documents' session.horse}}Documents{{/link-to}}</li>
        <li>{{#link-to 'horse.notes' session.horse}}Notes{{/link-to}}</li>
        <li>{{#link-to "horse.weight-calculator" session.horse}}Weight Calculator{{/link-to}}</li>
        <li>{{#link-to "horse.links" session.horse}}Links{{/link-to}}</li>
    </ul>

    <ul>
      <li><a {{action 'invalidateSession'}}>Logout</a></li>
    </ul>
  </nav>

  <!-- Site Overlay -->
  <div class="site-overlay"></div>

  <div id="push_wrap">
    {{outlet header}}
{{/if}}
{{outlet}}
{{view.currentPath}}
{{#if session.isAuthenticateded }}
  </div>
{{/if}}