<div class="container">
<ul class="standard_list_left">
  <li>Name</li>
  <li>Breed</li>
  <li>Reg. Number</li>
  <li>Sex</li>
  <li>Fertility</li>
  <li>Foaling Date</li>
  <li>Color</li>
  <li>Date of Birth</li>
  <li>Markings</li>
  <li>Org Numbers</li>
  <li>Emergencies</li>
  <li>Comments</li>
  <li>Share Links</li>
</ul>

<ul class="standard_list_right">
<li>{{model.name}}</li>
<li>AraAppaloosa</li>
<li>123456789</li>
<li>{{model.sex}}</li>
<li>{{model.fertility}}</li>
<li>{{foalingDate}}</li>
<li>{{model.color}}</li>
<li>{{birthDate}}</li>
<li>{{model.markings}}</li>
<li>123456789</li>
<li>None</li>
<li>Misc comments</li>
<li>youtu.be</li>
</ul>

<ul class="list_buttons">
  <a href="#"><li>Weight History</li></a>
  <a href="stableinformation.html"><li>Stable Information</li></a>
  <a href="healthinformation.html"><li>Health Information</li></a>
  <a href="feedingrecords.html"><li>Feeding Records</li></a>
  <a href="#"><li>Documents</li></a>
  <a href="#"><li>Photos</li></a>
</ul>
</div>